
.matched {
    background-color: #e0e0e0;
}
.different {
    background-color: #ff6633;;
}

.num {
/* Make the numbers column's text be unselectable */ 
-webkit-touch-callout: none; /* iOS */ 
-webkit-user-select: none; /* safari */ 
-khtml-user-select: none; /* konqueror */
-moz-user-select: none; /* firefox */
-ms-user-select: none; /* ms edge */
user-select: none; /* chrome and opera */ 
}

.same {
background-color: #e0e0e0;
width: 100%;
}

.onlyLeft {
background-color: #ff6633;
width: 100%;
}

.onlyRight {

background-color: #ff6633;
width: 100%;


}

